/* image1  banner*/

.image1{

    background-image: url('../images/banner/banner1.png');
  background-repeat: no-repeat;
  
  background-position: center;
}


.banner{


    text-align: right;
    padding-bottom: 300px 400px;
    display: contents;
    align-items: right;



}

.banner-title{
    Font family: Work Sans
font-style:Bold;
Font size: 65px;
Line height: 76px;
Line height: 100%;
Align: Right;


   

}
.banner-description{


    align-content: center;
    margin-inline-end: auto;
}

.btn-primary{
    height: 64px;
    border-radius: 5px;
    background: #071fa7;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 5px;
    padding: 18px 30px;
    text-align: right;
}



}