*{
    margin: 0;
}
/* .banner */

.banner{
    background-image: url('../images/banner/banner1.png');

    height: 808px;
    width: 1600px;
    left: 1600px;
    top: 808px;
    display: flex;
    
    
  
}
   
/* .banner-title{ *

/*  */

.banner-title{

   
   margin-left: 865px;
   margin-top: 400px;
   margin-bottom: 15px;
   
  

}
.banner-desc{

    margin-left: 806px;
    margin-bottom: 13px;
   
    text-align: center;
}


.btn-primary{

    
    margin-left: 930px;
    text-align: center;
    background-color: blue;
    color: blanchedalmond;
    border-radius: 10px;
    width: 140px;
    height: 60px;
}
/* header  */

.header{




}
.image2{

    
    border-radius: 5px;
    background-repeat: no-repeat;
    margin-top: 170px;
    margin-left: 270px;
}
.section-title{

    margin-left: 700px;
    margin-top: -430px;
    margin-bottom: 50px;
    text-align: center;
}
.section-details{

    
    margin-left: 700px;
    margin-bottom: 30px;
    text-align: center;
}
.section-description{

    margin-left: 808px;
    margin-top: 20px;
    text-align: left;
}
.main{

    margin-top: 600px;
    margin-left: 200px;
    
    
}
.color{

    margin-left: 200px;
    margin-top: -305px;
}
.color-details{

    margin-top: -220px;
    margin-left:-1150px;
    text-align: center;
    color: rgb(6, 6, 6);
    border-color: antiquewhite;

}
.btn-primary1{
    margin-left: 130px;
    margin-top: 30px;
    color: rgb(245, 244, 241);
    background-color:rgb(18, 17, 17);
    border:-70px;
    border-radius: 15px;
}
/* <img src="images/gradient1.png" alt=""> */